* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

body {
background-color: #95E1D3;
}

ul {
list-style: none;
}

.delete-icon {
display: none;
position: absolute;
right: 6px;
}

